html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: 100% inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  min-height: 100%;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
body.hide {
  width: 100%;
  height: 100%;
  display: none;
  background: #ffffff url("../img/preloader.gif") no-repeat center;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background-color: #ffffff;
}
body::-webkit-scrollbar-thumb {
  border: 2px solid #ffffff;
  -webkit-border-radius: 1000px;
          border-radius: 1000px;
  background-color: #3aadfa;
}
h1 {
  position: absolute;
  font-weight: 800;
  font-size: 200px;
  left: 0;
  right: 0;
  bottom: 45%;
  z-index: 20;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
}
h2 {
  font-weight: bold;
  color: #20272d;
  font-size: 30pt;
  margin-bottom: 20px;
  text-align: center;
}
h2:after {
  padding-left: 10px;
  content: '-';
}
h2:before {
  padding-right: 10px;
  content: '-';
}
img {
  max-width: 100%;
  width: 100%;
}
section,
footer {
  margin-top: 80px;
  overflow: hidden;
}
.wrapper {
  display: none;
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  z-index: 2000;
}
.feedback-modal {
  width: 500px;
  min-height: 300px;
  padding: 20px;
  z-index: 10;
  background: #ffffff;
  position: absolute;
  top: 25%;
  right: 0;
  left: 0;
  margin: 0 auto;
  -webkit-border-radius: 25px;
          border-radius: 25px;
}
.feedback-modal h2 {
  color: #20272d;
  font-size: 24px;
  margin-bottom: 40px;
}
.feedback-modal input {
  width: 80%;
  margin: 20px auto;
  padding: 10px;
  font-size: 14px;
  display: block;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  border: none;
  -webkit-box-shadow: 0 5px 20px -3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 20px -3px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.feedback-modal input:hover {
  cursor: pointer;
}
.feedback-modal input:focus,
.feedback-modal input:active:focus {
  outline: none;
  -webkit-box-shadow: 0 3px 20px -5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 20px -5px rgba(0, 0, 0, 0.2);
}
.feedback-modal .submit {
  padding: 15px;
  font-weight: bold;
  outline: none;
  background-color: #adfa3a;
  color: #ffffff;
  text-transform: uppercase;
}
.feedback-modal .submit:hover {
  background-color: #95d733;
}
.menu-button {
  text-align: right;
  margin-top: 20px;
  text-decoration: none;
  color: #3aadfa;
  font-size: 40px;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.menu-button:hover {
  text-decoration: none;
}
.menu-button:visited,
.menu-button:active {
  color: #3aadfa;
  text-decoration: none;
}
.menu-button:active {
  color: #ffffff;
  opacity: 0;
}
.close-slider-btn,
.close-modal-btn {
  font-size: 40px;
  color: #ffffff;
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 50;
  text-decoration: none;
}
.close-slider-btn.active,
.close-modal-btn.active {
  display: block;
}
.close-slider-btn:active,
.close-modal-btn:active,
.close-slider-btn:hover,
.close-modal-btn:hover {
  color: #ffffff;
  text-decoration: none;
}
.close-modal-btn {
  display: block;
}
.pre {
  width: 60%;
  margin: 0 auto;
  color: #3f4143;
  line-height: 1.6;
  font-size: 14pt;
  text-align: center;
}
header {
  position: relative;
}
.slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.slider .slide {
  width: 100%;
  height: 100%;
  background-size: cover;
}
.slider .slick-track,
.slider .slick-list {
  height: 100%;
}
.slider .slick-dots {
  bottom: 15px;
  z-index: 20;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
.slider .slick-dots li button::before {
  color: #ffffff;
  font-size: 15px;
}
.slider p {
  width: 100%;
  margin: auto auto 0 auto;
  font-size: 40px;
  text-align: center;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 42%;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
}
.slider .first {
  background: url("../img/slider/hidden-heaven.jpg") no-repeat center / cover;
}
.slider .second {
  background: url("../img/slider/yet-to-be-discovered.jpg") no-repeat center / cover;
}
.slider .third {
  background: url("../img/slider/wild-beauty.jpg") no-repeat center / cover;
}
.slider .fourth {
  background: url("../img/slider/hospitality-beyond-borders.jpg") no-repeat center / cover;
}
.slider .fifth {
  background: url("../img/slider/lungs-of-europe.jpg") no-repeat center / cover;
}
.slider .sixth {
  background: url("../img/slider/escape-to-nature.jpg") no-repeat center / cover;
}
.header-top {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: -200px;
  right: 0;
  left: 0;
  background-color: #ffffff;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  padding: 20px 0;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}
.header-top .container {
  padding: 0;
}
.header-top.visible {
  top: 0;
}
.menu-button {
  display: none;
}
.close-button {
  display: none;
}
.logo {
  text-align: center;
}
.logo img {
  max-width: 120px;
}
.language-select {
  position: absolute;
  left: 30%;
  top: 0;
  bottom: 0;
  height: 20px;
  margin: auto;
}
.language-select select {
  color: #7c8287;
  outline: none;
  border: none;
  background: none;
}
.top-menu {
  margin-top: 30px;
}
.top-menu a {
  text-align: center;
  color: #7c8287;
  -webkit-transition: 0.15s all ease-in-out;
  transition: 0.15s all ease-in-out;
}
.top-menu a:hover,
.top-menu a:active {
  color: #3aadfa;
  text-decoration: none;
}
.help-container p {
  text-align: center;
  color: #3aadfa;
  margin-top: -5px;
  margin-bottom: 10px;
}
.to-call {
  border: 1px solid #3aadfa;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  color: #3aadfa;
  background-color: transparent;
  width: 100%;
  padding: 13px 0;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.to-call:active,
.to-call:hover {
  background-color: #3aadfa;
  color: #ffffff;
  text-decoration: none;
}
.header-bottom {
  height: 90vh;
  position: relative;
}
.header-bottom .to-trip {
  position: absolute;
  margin: auto auto 0 auto;
  z-index: 30;
  font-size: 18px;
  left: 0;
  right: 0;
  bottom: 30%;
  border: 1px solid #3aadfa;
  -webkit-border-radius: 24px;
          border-radius: 24px;
  color: #ffffff;
  background-color: #3aadfa;
  width: 180px;
  padding: 13px 0;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  -webkit-box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.header-bottom .to-trip:hover {
  background-color: #3492d1;
  border: 1px solid #3492d1;
}
.main-menu {
  padding: 30px 0;
  border-bottom: 1px solid #dadada;
}
.item-list .item > a {
  font-weight: 600;
  color: #7c8287;
  display: inline-block;
  text-decoration: none;
  font-size: 16pt;
}
.item-list .item i {
  font-weight: 600;
}
.item-list .item.active > a,
.item-list .item:hover > a {
  text-decoration: none;
  color: #eb7e51;
}
.inner-list {
  display: none;
  padding-top: 15px;
}
.inner-list .inner-item {
  margin-bottom: 10px;
}
.inner-list .inner-item > a {
  font-size: 14pt;
  text-decoration: none;
  color: #7c8287;
}
.inner-list .inner-item.active a,
.inner-list .inner-item:hover a {
  text-decoration: none;
  color: #eb7e51;
}
.content .container {
  width: 50%;
}
.content h3 {
  font-weight: bold;
  text-align: center;
  color: #20272d;
  font-size: 24pt;
  margin: 60px auto 20px;
}
.content article {
  display: none;
}
.content article i {
  width: 70%;
  margin: 10px auto;
  display: block;
  font-size: 12px;
  line-height: 1.2;
  text-align: left;
}
.content article#map iframe {
  width: 70%;
  display: block;
  margin: 0 auto;
}
.content article#currency ul {
  padding-left: 40px;
  list-style: disc inside;
  color: #8a908f;
}
.content p,
.content li {
  width: 70%;
  margin: 0 auto;
  font-size: 16pt;
  line-height: 1.7;
  color: #7c8287;
  text-align: center;
}
.content h4 {
  font-weight: bold;
  color: #8a908f;
  text-align: left;
  margin: 10px auto;
  width: 70%;
}
.content .visa-links {
  width: 70%;
  margin: 5px auto;
}
.content .visa-links a {
  margin-left: 10px;
}
.content li {
  font-size: 14pt;
  text-align: left;
  line-height: 1.3;
}
.activities {
  text-align: center;
}
.activities .to-trip {
  margin: 30px auto;
  border: 1px solid #eb7e51;
  -webkit-border-radius: 23px;
          border-radius: 23px;
  color: #ffffff;
  background-color: #eb7e51;
  width: 225px;
  padding: 13px 0;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  padding: 16px 0;
}
.activities .to-trip:hover {
  background-color: #cd6c47;
  border: 1px solid #cd6c47;
  color: #ffffff;
}
.activities-list {
  margin-top: 70px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.activities-list li {
  vertical-align: top;
  width: 48%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-border-radius: 33px;
          border-radius: 33px;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  margin: 10px auto;
  -webkit-box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.2);
}
.activities-list figure {
  position: relative;
}
.activities-list img {
  -webkit-border-top-left-radius: 33px;
          border-top-left-radius: 33px;
  -webkit-border-top-right-radius: 33px;
          border-top-right-radius: 33px;
}
.activities-list img:hover {
  cursor: pointer;
}
.activities-list img:hover + figcaption {
  color: #eb7e51;
  background-color: rgba(255, 255, 255, 0.95);
}
.activities-list figcaption {
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  font-size: 1.4em;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  left: 0;
  right: 0;
  display: inline-block;
  bottom: 0;
  top: 0;
  padding: 15px;
  width: 70%;
  height: 50px;
  margin: auto;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.activities-list figcaption:hover {
  background-color: rgba(255, 255, 255, 0.95);
  color: #eb7e51;
}
.activities-list article {
  padding: 15px;
  text-align: center;
}
.activities-list article h4 {
  font-size: 24px;
  margin: 10px 0;
  font-weight: bold;
  color: #eb7e51;
  text-align: left;
}
.activities-list article p {
  font-size: 18px;
  text-align: left;
  line-height: 1.5;
  color: #7c8287;
  -webkit-border-bottom-left-radius: 25px;
          border-bottom-left-radius: 25px;
  -webkit-border-top-left-radius: 25px;
          border-top-left-radius: 25px;
}
.activities-list article .see-more {
  cursor: pointer;
  margin: 30px auto;
  border: 1px solid #eb7e51;
  -webkit-border-radius: 27px;
          border-radius: 27px;
  color: #eb7e51;
  background-color: #ffffff;
  width: 200px;
  padding: 13px 0;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  padding: 16px 0;
}
.activities-list article .see-more:hover {
  background-color: #eb7e51;
  color: #ffffff;
}
.activities-list .inner-slider {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 1200px;
  height: 600px;
  z-index: 100;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  margin: auto;
}
.activities-list .inner-slider::after {
  position: fixed;
  content: '';
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.activities-list .inner-slider .slide {
  -webkit-border-radius: 20px;
          border-radius: 20px;
  width: 1200px;
  height: 600px;
  position: relative;
}
.activities-list .inner-slider .slide img {
  width: 1200px;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-border-radius: 20px;
          border-radius: 20px;
}
.activities-list .inner-slider .slick-list {
  -webkit-border-radius: 20px;
          border-radius: 20px;
  height: 100%;
}
.activities-list .inner-slider .description {
  color: #ffffff;
  padding: 20px;
  font-weight: bold;
  font-size: 32px;
  -webkit-border-top-right-radius: 20px;
          border-top-right-radius: 20px;
  -webkit-border-top-left-radius: 20px;
          border-top-left-radius: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 1200px;
  z-index: 5;
  text-transform: uppercase;
}
.activities-list .inner-slider .slick-next,
.activities-list .inner-slider .slick-next:focus,
.activities-list .inner-slider .slick-next:hover,
.activities-list .inner-slider .slick-prev,
.activities-list .inner-slider .slick-prev:focus,
.activities-list .inner-slider .slick-prev:hover {
  width: 40px;
  height: 40px;
}
.activities-list .inner-slider .slick-next:before,
.activities-list .inner-slider .slick-prev:before {
  font-size: 40px;
}
.activities-list .inner-slider .slick-next {
  z-index: 10;
  right: 15px;
}
.activities-list .inner-slider .slick-prev {
  z-index: 10;
  left: 15px;
}
.where {
  padding: 80px 0;
  background: #f5f9f9 url('../img/map-container-bg.png') repeat-x bottom;
}
.where iframe {
  width: 80%;
  display: block;
  margin: 80px auto 160px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
.socials .socials-list {
  width: 50%;
  margin: 0 auto 0;
  text-align: center;
  padding: 20px 0;
}
.socials .socials-list li {
  margin-top: 20px;
  margin-bottom: 20px;
}
.socials .socials-list a {
  font-size: 25px;
  display: inline-block;
  padding: 18px;
  color: #ffffff;
  text-decoration: none;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 16px rgba(0, 0, 0, 0.7);
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}
.socials .socials-list a.fa::before {
  display: inline-block;
  width: 25px;
}
.socials .socials-list a:hover,
.socials .socials-list a:active,
.socials .socials-list a:focus,
.socials .socials-list a:visited {
  text-decoration: none;
  color: #ffffff;
}
.socials .socials-list a:hover {
  -webkit-box-shadow: 0 0 16px -5px rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 16px -5px rgba(0, 0, 0, 0.7);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.socials .socials-list a.fa-twitter {
  background-color: #00aced;
}
.socials .socials-list a.fa-snapchat-ghost {
  background-color: #efe200;
}
.socials .socials-list a.fa-facebook {
  background-color: #3b5998;
}
.socials .socials-list a.fa-instagram {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), -webkit-gradient(linear, left top, left bottom, from(#6559ca), color-stop(30%, #bc318f), color-stop(50%, #e33f5f), color-stop(70%, #f77638), to(#fec66d));
  background: -webkit-radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), -webkit-radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), -webkit-radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), -webkit-radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), -webkit-radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), -webkit-radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), -webkit-radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), -webkit-linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}
.socials .socials-list a.fa-vk {
  background-color: #45668e;
}
.socials .socials-list a.fa-youtube {
  background-color: #bb0000;
}
footer {
  margin-top: 40px;
}
footer .container {
  padding: 40px 0;
  border-top: 1px solid #c8c8c8;
}
footer .bottom-menu {
  padding: 0;
  text-align: left;
}
footer .bottom-menu li {
  padding-left: 0;
}
footer .bottom-menu a {
  cursor: pointer;
  text-decoration: none;
  color: #7c8287;
  font-size: 14px;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}
footer .bottom-menu a:hover,
footer .bottom-menu a:active {
  color: #3aadfa;
}
footer .copyright {
  font-style: normal;
  color: #999;
}
footer .contacts {
  text-align: right;
}
footer .contacts p {
  display: none;
}
footer .contacts a {
  cursor: pointer;
  color: #7c8287;
}
footer .contacts a:hover,
footer .contacts a:active {
  text-decoration: none;
  color: #3aadfa;
}
@media all and (max-width: 1600px) {
  .language-select {
    left: 27%;
  }
}
@media all and (max-width: 1400px) {
  h1 {
    font-size: 140px;
  }
  .language-select {
    left: 20%;
  }
  .slider .slide p {
    font-size: 28px;
  }
  .activities.container {
    width: 100%;
  }
}
@media all and (max-width: 1200px) {
  .container {
    width: 100%;
  }
  .top-menu li {
    text-align: right;
    padding-left: 0;
    padding-right: 10px;
  }
  .main-menu {
    width: 80%;
  }
  .item-list .item > a {
    font-size: 16px;
  }
  .inner-list .inner-item > a {
    font-size: 14px;
  }
  .activities-list {
    text-align: center;
  }
  .activities-list .inner-slider {
    width: 100%;
    height: 500px;
  }
  .activities-list .inner-slider .description {
    padding: 20px;
    width: 100%;
    font-size: 28px;
    -webkit-border-top-left-radius: 0;
            border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
            border-top-right-radius: 0;
    margin: auto;
  }
  .content p {
    line-height: 1.5;
  }
  .socials .socials-list {
    padding: 15px;
  }
  .socials .socials-list a {
    font-size: 20px;
  }
  .socials .socials-list a.fa::before {
    display: inline-block;
    width: 20px;
  }
}
@media all and (max-width: 992px) {
  h2:after {
    content: '';
  }
  h2:before {
    content: '';
  }
  .pre {
    width: 65%;
  }
  .top-menu {
    padding: 0;
  }
  .main-menu {
    width: 97%;
  }
  .where {
    padding-right: 0;
    padding-left: 0;
  }
  .where .container {
    padding: 0;
  }
  .where iframe {
    width: 95%;
  }
  .socials .socials-list {
    width: 65%;
  }
  footer .copyright {
    text-align: center;
    font-size: 11px;
    padding: 0;
    margin-top: 2px;
  }
  footer .copyright span {
    display: none;
  }
}
@media all and (max-width: 767px) {
  h1 {
    font-size: 120px;
  }
  .pre {
    width: 95%;
  }
  header {
    background: none;
  }
  .menu-button {
    margin-top: auto;
    display: inline-block;
    font-size: 32px;
    padding: 20px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  .language-select {
    position: static;
    float: right;
    display: inline-block;
  }
  .language-select select {
    background-color: #ffffff;
    padding: 25px 10px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  .close-button {
    font-size: 28px;
    color: #3aadfa;
    top: 20px;
    left: 20px;
    position: absolute;
    display: inline-block;
  }
  .header-top {
    padding: 0;
    background: none;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .header-top .container-fluid {
    width: 80%;
    border-bottom: 1px solid #c8c8c8;
    margin-bottom: 10px;
  }
  .header-top .container {
    display: none;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    padding: 60px 0;
    z-index: 300;
    background-color: #ffffff;
    width: 200px;
    position: absolute;
    left: 0;
    top: 0;
  }
  .logo {
    text-align: center;
  }
  .top-menu li {
    text-align: left;
    margin-bottom: 40px;
  }
  .top-menu li a {
    font-size: 14px;
  }
  .top-menu li i {
    margin-right: 5px;
  }
  .header-bottom {
    height: 85vh;
  }
  .slider .slide p {
    font-size: 30px;
  }
  .main-menu {
    padding: 20px 0;
    width: 95%;
  }
  .item-list .item {
    text-align: center;
    position: relative;
  }
  .item-list .item i {
    right: 20%;
    bottom: 0;
    top: 0;
    position: absolute;
  }
  .item-list .item > a {
    width: 100%;
    margin-bottom: 10px;
  }
  .activities-list li {
    width: 95%;
  }
  .activities-list figcaption {
    width: 80%;
    font-size: 1.4em;
  }
  .socials .socials-list {
    width: 90%;
  }
  .socials .socials-list a {
    font-size: 30px;
    padding: 20px;
  }
  .socials .socials-list a.fa::before {
    width: 30px;
  }
  footer .container {
    padding: 20px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  footer .bottom-menu {
    float: none;
  }
  footer .bottom-menu li {
    text-align: center;
  }
  footer .copyright {
    width: 100%;
    margin-top: 20px;
    font-size: 14px;
    display: block;
    text-align: center;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
  footer .copyright span {
    display: inline-block;
  }
  footer .contacts {
    margin-top: 20px;
    text-align: center;
    line-height: 1.4;
  }
  footer .contacts p {
    color: #7c8287;
    display: inline-block;
  }
  footer .contacts a {
    float: none;
    width: auto;
    display: inline-block;
    text-align: center;
  }
}
@media all and (max-width: 640px) {
  .feedback-modal {
    width: 400px;
  }
  section,
  footer {
    margin-top: 40px;
  }
  h1 {
    top: 35%;
    font-size: 80px;
  }
  .activities-list {
    margin-top: 40px;
  }
  .where {
    padding: 40px 0;
  }
  .where iframe {
    margin: 40px auto 100px;
  }
  .activities-list {
    text-align: center;
  }
  .activities-list .inner-slider {
    width: 100%;
    height: 400px;
  }
  .activities-list .inner-slider .slide img {
    height: 400px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .activities-list .inner-slider .description {
    display: none;
  }
  .socials {
    margin-top: 0;
  }
}
@media all and (max-width: 460px) {
  .feedback-modal {
    width: 300px;
  }
  .feedback-modal input {
    width: 95%;
  }
  h1 {
    top: 37%;
    font-size: 60px;
  }
  .slider .slide p {
    top: 51%;
    font-size: 22px;
  }
  .header-bottom .to-trip {
    bottom: 32%;
  }
  .content p {
    width: 100%;
    font-size: 13pt;
  }
  .item-list {
    padding: 0;
  }
  .item-list .item i {
    right: 10%;
  }
  .item-list .item > a {
    font-size: 14px;
  }
  .activities-list li {
    width: 100%;
  }
  .activities-list article h4 {
    font-size: 18px;
  }
  .activities-list article p {
    font-size: 14px;
  }
  .where iframe {
    margin: 40px auto 120px;
  }
  .socials .socials-list {
    width: 100%;
    padding: 0;
  }
  footer .bottom-menu a {
    font-size: 11px;
  }
  footer .contacts {
    font-size: 12px;
    line-height: 1.6;
  }
  footer .copyright {
    font-size: 12px;
  }
}
